@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  overflow: hidden;
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	will-change: transform;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	height: 100%;
	position: fixed;
	width: 130vw;
	transform: translateX(30vw);
	transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
	background-image: url("../assets/image1.svg");
	transform: translateX(-15vw);
}
.background:first-child .content-wrapper {
  	transform: translate3d(15vw, 40vh, 0);
}
.background:nth-child(2) {
  	background-image: url("../assets/image2.svg");
}
.background:nth-child(3) {
  	background-image: url("../assets/image3.svg");
}

/* Set stacking context of slides */
.background:nth-child(1) {
  	z-index: 3;
}

.background:nth-child(2) {
  	z-index: 2;
}

.background:nth-child(3) {
  	z-index: 1;
}

.content-wrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-flow: column nowrap;
	color: #fff;
	font-family: Montserrat;
	text-transform: uppercase;
	transform: translate3d(40vw, 40vh, 0);
	will-change: transform;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
	font-size: 12vh;
	line-height: 1.4;
}

.background.up-scroll {
  	transform: translate3d(-15vw, 0, 0);
}
.background.up-scroll .content-wrapper {
  	transform: translate3d(15vw, 40vh, 0);
}
.background.up-scroll + .background {
  	transform: translate3d(30vw, 0, 0);
}
.background.up-scroll + .background .content-wrapper {
  	transform: translate3d(30vw, 40vh, 0);
}

.background.down-scroll {
  	transform: translate3d(-130vw, 0, 0);
}
.background.down-scroll .content-wrapper {
  	transform: translate3d(0, 40vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) {
  	transform: translate3d(-15vw, 0, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  	transform: translate3d(15vw, 40vh, 0);
}